<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h1>Comprar un producto</h1>
    <h2>Vas a comprar: {{ producto.nombre }}</h2>
                 <ul>

                    <li>
                        Modelo: {{ producto.modelo }}
                    </li>
                    <li>
                        Unidades: {{ producto.unidades }}
                    </li>
                    <li>
                        Precio:  {{ producto.precio }}€
                    </li>
                    <li>
                        Detalles: {{ producto.detalles }}
                    </li>
                    <li>
                        Marca: {{ producto.marca }}
                    </li>
                 </ul>




    <form method="POST">
    {% csrf_token %}
        {{ form }}
       <p> <input type="submit" value="Comprar"></p>
        <a href="{% url 'compra_listado' %}"><button type="submit" class="btn btn-secundary">Volver</button></a>
    </form>

</body>
</html>
