{% extends 'tienda/base.html' %}

{% block content %}
	<h2>Listado Productos</h2>



      <table class="table table-striped">
        <thread>
            <th>nombre</th>
            <th>Unidades</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Marca</th>
            <th>Eliminar</th>


        </thread>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>
                    <a href="{% url 'admin_producto_detalle' pk=producto.pk %}">
                    {{ producto.nombre }}
                    </a>
                </td>
                <td>
                    {{ producto.unidades }}
                </td>
                <td>
                    {{ producto.modelo }}
                </td>
                <td>
                    {{ producto.precio }}
                </td>
                <td>
                    {{ producto.detalles }}
                </td>
                <td>
                    {{ producto.marca }}
                </td>
                <td>
                    <a href="{% url 'admin_producto_eliminar' pk=producto.pk %}"><button type="submit" class="btn btn-secundary">Eliminar</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
          <a href="{% url 'admin_producto_nuevo' %}"><button type="submit" class="btn btn-secundary">Nuevo</button></a>

    </table>



{% endblock %}
